@charset "utf-8";

@import "reset/normalize";

@import "trix/dist/trix";
@import "selectize/dist/css/selectize";
@import "selectize/dist/css/selectize.default";

@import "library/clearfix";
@import "library/data-label";
@import "library/variables";

@import "base/forms";
@import "base/layout";
@import "base/lists";
@import "base/tables";
@import "base/typography";

@import "components/app-container";
@import "components/attributes";
@import "components/buttons";
@import "components/cells";
@import "components/field-unit";
@import "components/flashes";
@import "components/form-actions";
@import "components/main-content";
@import "components/navigation";
@import "components/pagination";
@import "components/search";


dialog {
  width: 80vw;
  margin: auto;
  border: none;

  &:open::backdrop {
    background-color: rgb(0 0 0 / 25%);
    backdrop-filter: blur(4px);
  }

  header {
    display: flex;
    align-items: center;

    h2 {
      flex: 0 1 100%;
    }
  }
}
